.distance .point path {
  opacity: 0;
}
.distance .point circle {
  fill: #1f78b4;
}
.distance .point line {
  stroke: #1f78b4;
  stroke-width: 2.5px;
}

.distance .point:not(.selected) circle {
  fill: #cccccc;
}
.distance .point:not(.selected) line {
  stroke: #cccccc;
}

.distance .point.hover circle {
  fill: #33a02c;
}
.distance .point.hover line {
  stroke: #33a02c;
}

.distance .average {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 10px, 10px;
}

.distance .reference {
  font-weight: bold;
  fill: #33a02c;
}
