.clt .ball {
  fill: #d62728;
  stroke: #000;
  stroke-width: 1px;
}

.clt .bar rect {
  fill: #1f77b4;
  fill-opacity: 0.8;
}
.clt .bar text {
  fill: white;
}

.clt .line {
  fill: #636363;
  fill-opacity: 0.2;
}

.clt .axis path {
  stroke: #636363;
  stroke-width: 2px;
}
.clt .axis text {
  fill: #636363;
  stroke: none;
}
