.seaice .line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.33;
}

.seaice .line-2021 {
  stroke: #d62728;
  stroke-width: 3;
  stroke-opacity: 1 !important;
}

.seaice .active {
  stroke-width: 4;
  stroke-opacity: 0.66;
}
