.refrac .ray {
  fill: none;
  stroke-width: 7px;
}
.refrac .ray0 {
  stroke: #d62728;
}
.refrac .ray1 {
  stroke: #aec7e8;
}
.refrac .ray2 {
  stroke: #d62728;
}

.refrac .surface {
  fill: none;
  stroke: #1f77b4;
  stroke-width: 10px;
}
.refrac .surface:hover {
  cursor: pointer;
}

.label {
  font-size: 120%;
}
